
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body {
	background-image: url('../images/subHeader.jpg');
    background-repeat: no-repeat;
    background-size: 100% 180px;
    font-family:Calibri;
	/*background-color: #eeeeee;*/
}


#container div {
	margin-top: 200px;
	font-size: 36px;
	font-weight: bold;
	color: #254564;
	text-align: center;
	
}

section img {
    display: block;
    margin: 3% auto;
    zoom: 25%;
    min-width: 100px;
}
















